* {
  box-sizing: border-box;
}

body{
  height: 100vh;
    background: url("../images/pattern-background-mobile.svg") no-repeat top center;
  background-size: contain;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;


}


main{
  width: 20rem;
  display: flex;
  flex-direction: column;

  height: 90%;

  background-color: hsl(225, 100%, 98%);

  border-radius: 10px;
  overflow: hidden;


}


h1{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
}

p{
  font-family: 'Red Hat Display', sans-serif;
font-weight: 500;
color: grey;
}
h2{
  font-family: 'Red Hat Display', sans-serif;
font-weight: 700;
}
.image-section,
.image-section img{
  width: 100%;
}

.first-box{
  width:80%;
  text-align: center;
  margin: 10px auto;
}

.second-box{
  display: flex;
  flex-direction: row;
justify-content: space-between;
width: 80% !important;



}
.second-box{
  width: auto;
}
.second-box img{
  width: 20%;
}
.second-box a{
  align-self: center;
  font-family: 'Red Hat Display', sans-serif;
font-weight: 500;

}


div h2,
div p{
margin: 5px;
}
.button-section{
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin: 20px auto;

}
button{
  width: 100%;
  margin: 5px 0;
  border: none;
  border-radius: 20px;
  padding: 15px 5px;
  font-family: 'Red Hat Display', sans-serif;
font-weight: 500;
font-size: 15px;
opacity: 1;
transition: 0.3s;
}

button:hover{
opacity: 0.5; 
}

.button-section .first{
  color:white;
  background-color:  hsl(245, 75%, 52%);
}

.button-section .second{
  color: grey;
}



@media (min-width: 40rem) {
 body{
    background:url("../images/pattern-background-desktop.svg") no-repeat top center;
    background-size: contain;
    height: 100%;
}
  main{
    width: 23rem;
    /* margin: 100px auto 50px auto; */
  }

 }
